<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main/headerlayout.html}">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
</head>
<body>
<div layout:fragment="maincontent">
    <section class="banner">
        <div class="main-banner" id="mainBanner" style="height: 400px; width: 100%">
            <img th:src="@{/images/mainbanner1.png}" class="active" style="height: auto;width: 100%;"/>
            <img th:src="@{/images/mainbanner2.png}" style="height:auto;width: 100%;"/>
            <div class="banner-dots" id="bannerDots"></div>
        </div>
    </section>
    <div class="notice-board">

        <div class="notice-content">
            <p class="notice-text" th:text="${newestNotice.title}"></p>
            <p class="notice-date" th:text="${#temporals.format(newestNotice.createdAt, 'yyyy-MM-dd')}"></p>
        </div>

        <div class="dropdown-icon">
            <a>&#9660;</a>
        </div>

    </div>
    <section class="search">
        <div class="search-container">
            <form action="/course/list/all" method="get">
            <div class="search-box">
                <h2>검색</h2>
                <div class="search-input">
                    <input type="text" name="searchValue" placeholder="배우고 싶은 강좌를 찾아보세요.">
<!--                    <input type="hidden" name="searchField" value="title">-->
                    <button type="submit">
                        <img th:src="@{/images/searchicon.png}" alt="search"/>
                    </button>
                </div>
            </div>
            </form>
            <div class="categories">
                <a href="/course/list/all?subjectId=1">인문</a>
                <a href="/course/list/all?subjectId=2">사회</a>
                <a href="/course/list/all?subjectId=4">공학</a>
                <a href="/course/list/all?subjectId=3">교육</a>
                <a href="/course/list/all?subjectId=5">자연</a>
                <a href="/course/list/all">전체</a>
            </div>

        </div>
    </section>
    <div class="course-container">
        <h2>K-MOOC에서 추천하는 강좌 리스트</h2>
        <div class="course-list">
            <div class="course-card pointer" th:each="item, status:${mainCourseList}">
                <div class="course-image">
                    <img th:src="${item.thumbnail}" th:alt="${item.title}">
                    <span class="badge ongoing">진행중</span>
                    <span class="badge popular" th:if="${item.isCreditBank==1}">학점은행제</span>
                </div>
                <div class="course-info">
                    <h3 th:text="${item.title}"></h3>
                    <p><span th:text="${item.teacherName}"></span><br><span th:text="${item.institutionName}"></span></p>
                    <p class="course-date" th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></p>
                    <div class="tags">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="course-container">
        <div class="category-container">
            <div class="category-item" style="background-color: #a13bbc;" data-subject="1">
                <div class="icon">📖</div>
                <div class="text">인문</div>
            </div>
            <div class="category-item" style="background-color: #7a3bbf;" data-subject="2">
                <div class="icon">💬</div>
                <div class="text">사회</div>
            </div>
            <div class="category-item" style="background-color: #289e2e;" data-subject="3">
                <div class="icon">💻</div>
                <div class="text">교육</div>
            </div>
            <div class="category-item" style="background-color: #1d79ac;" data-subject="4">
                <div class="icon">🧬</div>
                <div class="text">공학</div>
            </div>
            <div class="category-item" style="background-color: #009687;" data-subject="5">
                <div class="icon">🌱</div>
                <div class="text">자연</div>
            </div>
            <div class="category-item" style="background-color: #3055a4;" data-subject="6">
                <div class="icon">🩺</div>
                <div class="text">의약</div>
            </div>
            <div class="category-item" style="background-color: #e14a3a;" data-subject="7">
                <div class="icon">🎵</div>
                <div class="text">예체능</div>
            </div>
            <div class="category-item" style="background-color: #e55c12;" data-subject="8">
                <div class="icon">🔬</div>
                <div class="text">융·복합</div>
            </div>
            <div class="category-item" style="background-color: #d4145a;" data-subject="9">
                <div class="icon">🔲</div>
                <div class="text">기타</div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    const images = document.querySelectorAll('.main-banner img');
    const dotsContainer = document.getElementById('bannerDots');
    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');
    let currentIndex = 0;

    // Generate indicator dots
    images.forEach((_, index) => {
        const dot = document.createElement('span');
        dot.addEventListener('click', () => showSlide(index));
        dotsContainer.appendChild(dot);
    });

    const dots = document.querySelectorAll('.banner-dots span');
    updateDots();

    // Slide navigation function
    function showSlide(index) {
        images[currentIndex].classList.remove('active');
        dots[currentIndex].classList.remove('active');
        currentIndex = (index + images.length) % images.length;
        images[currentIndex].classList.add('active');
        dots[currentIndex].classList.add('active');
    }

    function updateDots() {
        dots.forEach((dot, index) => {
            dot.classList.toggle('active', index === currentIndex);
        });
    }

    // Auto slide
    function autoSlide() {
        showSlide(currentIndex + 1);
    }

    let slideInterval = setInterval(autoSlide, 3000);

    // Prev/Next button event listeners
    if (prevBtn != null) {
        prevBtn.addEventListener('click', () => {
            clearInterval(slideInterval);
            showSlide(currentIndex - 1);
            slideInterval = setInterval(autoSlide, 3000);
        });
    }
    if (nextBtn != null) {
        nextBtn.addEventListener('click', () => {
            clearInterval(slideInterval);
            showSlide(currentIndex + 1);
            slideInterval = setInterval(autoSlide, 3000);
        });
    }

    document.querySelectorAll(".category-item").forEach(item => item.addEventListener("click", evt => {
        location.href = '/course/list/all?subjectId='+item.dataset.subject;
    })
    );
</script>
</body>
</html>