<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>페이징</title>
    <link th:href="@{/css/paging.css}" rel="stylesheet" />
</head>
<body>

<!-- Pagination -->
<div class="pagination">
    <button class="page-btn">&lt;</button>
    <button class="page-btn active">1</button>
    <button class="page-btn">2</button>
    <button class="page-btn">3</button>
    <button class="page-btn">4</button>
    <button class="page-btn">5</button>
    <button class="page-btn">&gt;</button>
</div>

</body>
</html>