<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.fullstack7.mooc.mapper.MemberMapper">
    <select id="login">
        SELECT *
        FROM member
        WHERE memberId = #{memberId}
    </select>

    <select id="viewMember">
        SELECT *
        FROM member
        WHERE memberId = #{memberId}
    </select>

    <select id="pwdCheck">
        SELECT password
        FROM member
        WHERE memberId = #{memberId}
    </select>

    <select id="memberIdCheck" resultType="String">
        SELECT memberId
        FROM member
        WHERE memberId = #{memberId}
    </select>

<!--    <insert id="registMember">-->
<!--        INSERT INTO member(memberId, password, userName, email, gender, memberType, status, credit, createdAt-->
<!--        ) values (#{memberId}, #{password}, #{userName}, #{email}, #{gender}, #{memberType}, #{status}, #{credit}, #{createdAt})-->
<!--    </insert>-->

    <insert id="registMember">
        INSERT INTO member (
        memberId, password, userName, email, gender, memberType, status, credit, createdAt
        )
        VALUES (
        #{memberId}, #{password}, #{userName}, #{email},
        COALESCE(#{gender}, 0),           <!-- 기본값 0 -->
        COALESCE(#{memberType}, 0),       <!-- 기본값 0 -->
        COALESCE(#{status}, 'ACTIVE'),    <!-- 기본값 'ACTIVE' -->
        COALESCE(#{credit}, 0),           <!-- 기본값 0 -->
        COALESCE(#{createdAt}, NOW())     <!-- 기본값 현재시간 -->
        )
    </insert>


    <delete id="deleteMember">
        DELETE FROM member
        WHERE memberId = #{memberId}
    </delete>
</mapper>